<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <
    <title>
    {% block title %}
    Mark's Blog
    {% endblock title %}
    </title>
</head>
<body>
    <header>{% block header %}
        <nav>
            <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'post_create' %}">Create</a></li>
            </ul>
        </nav>
    {% endblock header %}</header>

    <main>{% block content %}
    <h1>Definitely overwrite this content</h1>
    {% endblock content %}</main>

</body>
</html>